{{paper-input event-enter=(action "redirectToPokemon")
  label="Search for a pokemon.."
  value=pokemon-info
}}
<div class="pokemonInfo">
  {{pokemon-info
  name=content.name
  imageShiny=content.shinyImage
  image=content.image
  hp=content.hp
  attack=content.attack
  defense=content.defense
  specialattack=content.specialattack
  specialdefense=content.specialdefense
  speed=content.speed
}}
</div>
{{outlet}}
